.lt_nav {
  padding: 10px;
}
.lt_nav li {
  float: left;
  width: 33.3%;
}
.lt_nav li a {
  display: block;
  width: 100%;
  height: 100%;
}
.lt_product {
  padding: 10px;
}
.lt_product li {
  float: left;
  width: 48%;
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}
.lt_product li:nth-child(2n) {
  float: right;
}
.lt_product li:nth-child(-n+2) {
  margin-bottom: 10px;
}
.lt_product li a {
  display: block;
}
.lt_product li a .price {
  color: red;
}
.lt_product li a .oldPrice {
  text-decoration: line-through;
}
